/* Google Font Import Statements */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Kanit:wght@300&family=Pathway+Extreme:wght@600&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Kanit:wght@700&family=Pathway+Extreme:wght@700&family=Ubuntu&display=swap');

/* Reset default margin and box-sizing */
body
{
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Lato' sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

.navigation-bar
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
  	z-index: 3;
}

.navigation-bar a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

/* My Name */
.myname
{
	font-family: 'Anton', sant-serif;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 30px;
	
	color: #e68250;
}


/* HTML Scroll Behavior */
html {
    scroll-behavior: smooth;
}

.hminfo
{
	font-size: 30px;
	color: black;
}

.hmname
{
	font-family: 'Anton', sant-serif;
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	font-size: 50px;
	
	color: #e68250;
}



/* Menu Styling */
.mymenu {
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1.5px;
}

.mymenu:hover {
    color: #e68250; /* Changed the second color to match the primary color */
}

/* Home Section Styling */
#home {
    margin-top: 70px;
    width: 100vw;
    height: 400px;
    background-image: url('https://contentstatic.techgig.com/photo/89790289.cms');
    background-repeat: no-repeat;
     background-size: 50% 90%; 
    background-attachment: scroll;
    background-position: 80% -10px;
}




/* Button Styling */
.rsmbtn button {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 10px;
    margin: 30px;
    background-color: #e68250;
    font-size: 20px;
    color: white;
}

.rsmbtn button:hover {
    transform: scale(1.2);
    transition-duration: 1s;
    border: 1px solid #e68250;
    background-color: white;
    color: #e68250;
}

/* Heading Styling */
.hd {
    font-size: 35px;
    color: royalblue;
    font-family: Arial Black;
    text-align: center;
}

/* About and Skills Sections Styling */
.outerdiv {
    height: 300px;
    width: 100vw;
    background-color: lightblue;
    display: inline;
}

#about,
#skills {
    height: 300px;
    width: 100vw;
    background-color: #fcfcfc;
}

/* About Section Text Styling */
.co {
    font-size: 20px;
    font-weight: bolder;
    text-align: justify;
    text-indent: 20px;
    line-height: 36px;
}

/* Image Styling */
.myimg {
    border-radius: 100px;
    width: 200px;
    transition: transform 2s, box-shadow 2s;
}

.myimg:hover {
    transform: scale(1.3);
    box-shadow: 0px 0px 20px black;
}

/* Skills Section Styling */
#skills {
    background-color: white;
    margin-top: 30px;
    height: 500px;
}

/* Table Styling */
#skills table {
    margin-top: 30px;
}

.tbl tr td {
    text-align: left;
    padding-top: 0;
    padding: 20px;
}

.tbl tr td p {
    font-size: 20px;
    margin-top: 20px;
    color: #8a8987;
    font-weight: bolder;
}




/* Project Section Styling */
.projectsss {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Contact Section Styling */
#cnt {
    padding: 100px;
    width: 100vw;
    height: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Card Deck Styling */
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 80px;
}

/* Card Styling */
.card {
    height: 300px;
    width: 300px;
/*    margin: 20px;*/
}

.card-img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.protitle {
    font-size: 23px;
    font-weight: bolder;
    color: black;
}

.protitle:hover {
    color: royalblue;
    text-decoration: underline 2px solid royalblue;
}


.card-body {
    display: flex;
    flex-direction: column; /* Display the card contents in a column */
    align-items: center; /* Center align the content horizontally */
    justify-content: center; /* Center align the content vertically */
    height: 100%; /* Make the card body fill the entire card height */
}

/* Card Text Styling */
.card-text {
    font-weight: bolder;
    color: #8a8987;
    margin-top: -10px; /* Add space between the card title and text */
    text-align: center; /* Center align the text */
}


#contact
{
  margin-top: 50px;
  height: 50px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
  list-style: none;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .gmail:hover,
.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
